:root {
    --bg-color: #010013;
    --fg-color: #fff;
    --border-color: var(--fg-color);
    --button-transition-duration: .25s;
    --logos-transition-duration-out: .25s;
    --logos-transition-duration-in: 1s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--fg-color);
}

p,
h1,
h2 {
    cursor: default;
}

body {
    min-height: 100vh;
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

main {
    width: 660px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about .profile {
    width: 200px;
    height: 200px;
    border: 2px solid var(--fg-color);
    border-radius: 100%;
}

.about section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    gap: 40px;
}

.skills,
.learning {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-links {
    align-self: flex-end;
}

.profile,
.about-links a,
.skill-logos-container,
.learning-logos-container {
    user-select: none;
}

.skill-logos-container,
.learning-logos-container {
    display: flex;
    width: 100%;
    gap: 40px;
}

.skill-logos-container i,
.learning-logos-container i {
    padding: 10px;
    font-size: 80px;
    transition-duration: var(--logos-transition-duration-out);
    border-radius: 20px;
}

.skill-logos-container i:hover,
.learning-logos-container i:hover {
    transform: scale(1.1);
    transition-duration: var(--logos-transition-duration-in);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: var(--fg-color);
}

.about-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-links a {
    padding: 4px 15px;
    border: 2px solid var(--border-color);
    transition-duration: var(--button-transition-duration);
}

.about-links a:hover {
    background-color: var(--fg-color);
    color: var(--bg-color);
    transition: var(--button-transition-duration) ease-in-out;
}

@media (max-width: 700px) {
    main {
        width: 80%;
    }

    .about section p {
        text-align: justify;
    }

    .about section h1 {
        text-align: center;
    }

    .about-links {
        align-self: center;
    }

    .skill-logos-container,
    .learning-logos-container {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .skill-logos-container i,
    .learning-logos-container i {
        font-size: 60px;
    }
}

@media (max-width: 600px) {
    .about {
        flex-direction: column;
    }

    .about .profile {
        width: 150px;
        height: 150px;
    }
}
